
$logo-font: big_johnregular;
$headers-font: source_sans_prolight;
$text-font: open_sansregular;

$dark-grey-color: #333b46;
$light-grey-color: #81868e;
$almost-white-color: #f3f3f3;
$green-color: #19bd9a;
