


@media only screen and (max-width: 1800px) {
	body{
		font-size: 24px;
	}
}




@media only screen and (max-width: 1300px) {
	body{
		font-size: 20px;
	}
}




@media only screen and (max-width: 1023px) {
	body{font-size: 18px;}

	.h3{margin-bottom: 25px;}

	.h3__follower{margin-bottom: 30px;}

	.projects-section{padding: 60px 0 0 0 ;}

	.quotes-section .quotes-section__col2 .quotes-section__img{
		margin-top: 0;
	}
}



@media only screen and (max-width: 920px){
	.section{padding: 50px 5%;}

	.projects-section{padding: 50px 0 0 0 ;}
	.header{padding: 25px 1%;}

	.projects__footer{padding: 0 70px;}

	.price-section__prices{
		margin: 0;
	}
}



@media only screen and (max-width: 740px){
	
	.projects__footer{
		padding: 0 25px;
	}

	.contact-section{
		padding: 50px 1%;
	}

	.details__col{
		width: 32%;
		margin-left: 2%;
	}

	.details__h4__follower{
		letter-spacing: 0;
	}


}
