
.about-section__col1 {
  float: left;
  width: 50%;
}

.about-section__heading {display: inline;}

.about-section__content {
  display: inline-block;
  line-height: 25px;
  margin: 50px 0 30px;
}

.about-section__button:hover {
  background-color: $green-color;
}

.about-section__col2 {
  float: left;
  margin-left: 15%;
  width: 35%;
}
