
.blog-section {
  background-image: url('../images/blog__bg.png');
  background-size: cover;

  &__heading {
    color: white;
    text-align: left;

    &__follower {
      color: #b2b3b3;
      display: inline-block;
      font-size: 70%;
      text-align: left;
      width: 475px;
    }
  }

}

.blog__news-item {
  margin-left: 170px;

	.news-item{
    & __header {
      color: white; 
      font-size: 100%;
      margin-bottom: 15px;
    }

    &__author {
      font-size: 70%;
      font-style: italic;
      margin-bottom: 20px;
    }

    &__likes {
      font-size: 70%;
    }

    &__article {
     margin-bottom: 60px;
      margin-top: 60px;
   }

    &__button {
      border: 0;
      color: #b2b3b3;
      padding: 0;
    }
  }
}
