
.contact-forms-section {
  background-color: white;
  padding-bottom: 120px;
}

.form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 40px;
  margin-left: 5%;
  outline: none;
  padding-left: 10px;
  width: 30%;
}

.form:first-child {margin-left: 0;}

.form__text {
  height: 190px;
  margin-top: 30px;
  outline: none;
  width: 100%;
}

.contact-forms-section__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $green-color;
  border: 0;
  color: white;
  height: 50px;
  margin-top: 30px;
  outline: none;
  width: 100%;
}

.contact-forms-section__button:hover {
  background-color: transparent;
  border: 1px solid $green-color;
  color: $green-color;
}

.contact-forms-section__button:active {
  background-color: $light-grey-color;
}
