
.details-section {
  background-color: $almost-white-color;

  &__icons-wrapper {
    margin-bottom: 30px;
    text-align: center;
  }

  &__icon {
    font-size: 200%;
    height: 55px;
    margin-left: 30px;
    padding-top: 15px;
    width: 70px;
  }

  &__h4 {margin-bottom: 30px;}

  &__text {letter-spacing: 1px;}

  &__col1 {
    float: left;
    width: 35%;
  }

  &__col2 {
    float: right;
    width: 60%;
  }
}

.pe-7s-like {
  background-color: $green-color;
  margin-left: 0;
}
