
 .footer {
  text-align: center;

  &__logo {
    color: $dark-grey-color;
    font-size: 130%;
  }

  &__copyright {
    font-size: 70%;
    margin-top: 25px;
  }

  &__links {margin-top: 40px;}

  &__icon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    color: white; 
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    padding-top: 3px;
    text-decoration: none;
    width: 25px;

    &-facebook {background-color: #3b5998;}

    &-twitter {background-color: #26a6d1;}

    &-linkedin {background-color: #0e76a8;}

    &-instagram {background-color: #3f729b;}

    &-vimeo {background-color: #86c9ef;}
  }
}
