
.price-section {
  background-color: $almost-white-color;
  padding-left: 0;
  padding-right: 0;

  &__prices {
    margin: 0 80px;
    padding: 0 5%;
  }
}

.price{
  &__col {
    background-color: white;
    float: left;
    margin-left: 9.5%;
    width: 27%;
  }

  &__col:first-child {margin-left: 0;}

  &__description-hover {
    color: transparent;
    font-family: $text-font;
    font-size: 70%;
    line-height: 2;
    padding: 35px 25px;
    position: absolute;
    -webkit-transition: 1s;
    transition: 1s;
  }

  &__col:hover .price__description-hover {color: $light-grey-color;}

  &__name {
     background-color: $green-color;
    color: white;
    font-family: $text-font;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: .5s;
    transition: .5s;
  }

  &__col:hover .price__name {
    background-color: transparent;
    color: transparent;
  }

  &__actual-price {
    color: $green-color;
    font-family: $headers-font;
    font-size: 210%;
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
  }

  &__col:hover .price__actual-price {color: transparent;}

  &__month {
    color: $light-grey-color;
    font-family: $text-font;
    margin-bottom: 40px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
  }

  &__col:hover .price__month {color: transparent;}

  &__button_on-hover {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;

    &__text {
      color: transparent;
      font-family: $text-font;
      text-decoration: none;
      -webkit-transition: .5s;
      transition: .5s;
    }
  }

  &__col:hover .price__button_on-hover {
    background-color: $green-color;

   &__text {color: white;}
  }
}

@media only screen and (max-width: 920px) {
  .price-section__prices {
    margin: 0;
  }
}
