
 .subscribe-section {
  background-image: url('../images/subscribe-section__bg.png');
  background-position: center;
  background-size: cover;
  text-align: center;

  &__heading {
    color: white;

    &__follower {color: $light-grey-color;}
  }

  &__email-field {
    background-color: transparent;
    border: 1px solid $light-grey-color;
    color: white;
    font-family: $text-font;
    outline: none;
    padding: 10px 20px;
    width: 320px;
  }

  &__button-submit {
    background-color: $green-color;
    border: 1px solid transparent;
    color:  white;
    font-family: $text-font;
    margin-left: 10px;
    outline: none;
    padding: 10px 50px;
    text-transform: uppercase;
  }

  &__button-submit:hover {
    background-color: transparent;
    border: 1px solid $light-grey-color;
  }

  &__button-submit:active {
    background-color: white;
    color: $light-grey-color;
  }
}
