
.team-section__heading__follower {margin-bottom: 10px;}

.member{
  &__content {
    float: right;
    width: 50%;
  }

  &__photo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 230px;
  }

  &__whois {
    border-right: 4px solid $green-color;
    display: inline-block;
    float: right;
    margin-top: 25px;
    padding-right: 10px;

    .member__name-h4 {
      margin-bottom: 5px;
      text-align: right;
    }

    .member__position {
      font-style: italic;
      text-transform: uppercase;
    }
  }

  &__quote {
    display: block;
    float: right;
    font-size: 70%;
    margin-right: 10px;
    margin-top: 40px;
    text-align: right;
    width: 350px;
  }

  &__skills {
    margin-right: 10px;

    .skill__wrapper {
      border-bottom: 4px solid #e1e4e9;
      float: right;
      margin-top: 30px;
      width: 330px;

      .skill__percent {float: right;}

      .skill__bar {
        border-bottom: 4px solid $green-color;
        height: 10px;
        margin-bottom: -4px;
      }

      .skill__bar-80 {width: 264px;}

      .skill__bar-65 {width: 214px;}

      .skill__bar-75 {width: 247px;}
    }
  }
}

.team-section {
  &__footer {
    background-image: url('../images/team__footer-bg.png');
    padding: 30px 0;
    text-align: center;

    &__text {
      color: white;
      font-size: 100%;
    }

    &__button {
      border-color: white;
      color: white;
      margin-top: 30px;
      padding: 10px 30px;
    }

    &__button:hover {
      background-color: white;
      color: $green-color;
    }
  }
}


