
.testimonials-section {
  background-color: $almost-white-color;
}

.slide{
  &__col {float: left;}

  &__col1 {
    margin-right: 5%;
    width: 20%;

    .slide__face-img {
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
  }

  &__col2 {width: 70%;}

  &__text {
    margin-bottom: 30px;

    &__author {
      font-family: $text-font;
      margin-bottom: 10px;
    }

    &__whois {
      color: $light-grey-color;
      font-family: $text-font;
      font-size: 70%;
    }
  }
}
