
@font-face {
  font-family: big_johnregular;
  src: url(../../vendors/fonts/big-john-webfont.woff2) format('woff2'),
         url(../../vendors/fonts/big-john-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: source_sans_prolight;
  src: url(../../vendors/fonts/sourcesanspro-light-webfont.woff2) format('woff2'),
         url(../../vendors/fonts/sourcesanspro-light-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open_sansregular;
  src: url(../../vendors/fonts/opensans-regular-webfont.woff2) format('woff2'),
         url(../../vendors/fonts/opensans-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
